@media screen and (max-width: 768px) {
  body {
    width: 75%;
    background-color: rgb(254, 229, 0);
    margin: 0 auto;
  }
  .hidden {
    display: none;
  }
  header {}
  header h1 {
    padding: 72px 0 24px;
    text-align: center;
  }
  header h1 img {
    width: 100px;
  }
  main {}
  main form {}
  main form fieldset {}
  main form fieldset legend {}
  main form fieldset div {
    margin-bottom: 6px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  main form fieldset input {
    height: 38px;
    padding: 10px;
    font-size: 12px;
  }
  main form fieldset input:first-of-type {
    border-bottom: 1px solid #eeeded;
  }
  input::placeholder {
    color: rgb(191, 191, 191);
  }
  main .login_Btn {
    width: 100%;
    height: 39px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgb(246, 246, 246);
    color: rgb(172, 172, 172);
    font-size: 12px;
    }
  main .login_Btn:hover {
    background-color: rgb(66, 54, 48);
    border: none;
    color: #fff;
  }
  main .or {
    margin: 18px 0;
    color: rgb(127, 114, 0);
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  main .or::before {
    content: "";
    flex-grow: 1;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.08);
    height: 1px;
  }
  main .or::after {
    content: "";
    flex-grow: 1;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.08);
    height: 1px;
  }
  main .qr_login {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0;
  }
  main .qr_login img {
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
  }
  main .qr_login span {
    font-size: 12px;
  }
  main .auto_login {
    display: flex;
    align-items: center;
    margin-bottom: 96px;
  }
  main .auto_login p {
    padding-right: 5px;
  }
  main .auto_login label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  main .auto_login p label input {
    appearance: none;
  }
  main .auto_login p label input + span {
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
  }
  main .auto_login p label input + span::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    background: url('../images/login/check.png') no-repeat -20px #fff;
    background-size: 14px;
    border-radius: 50%;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
  }
  main .auto_login p label input:checked + span::before {
    background-position: 3px;
  }
  main .auto_login label span {
    font-size: 12px;
    color: rgb(127, 114, 0);
    vertical-align: top;
  }
  main .auto_login .info {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    border: 1px solid rgb(224, 202, 0);
    border-radius: 50%;
    text-align: center;
    background-color: rgb(247, 223, 0);
    position: relative;
    cursor: pointer;
  }
  main .auto_login .info span {
    font-size: 12px;
    color: rgb(127, 114, 0);
    position: absolute;
    left: 6px;
    top: 2px;
  }
  footer {}
  footer .help {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .help a {
    font-size: 12px;
    padding: 0 3px;
    color: rgb(127, 114, 0);
  }
  footer .help div {
    font-size: 12px;
    color:  rgb(216, 194, 0);
  }
}
