@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0px auto;
    padding: 0 18px;
  }
  .hidden {
    display: none;
  }
  header {
    width: 100%;
    margin-bottom: 10px;
  }
  header nav.topbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px 30px;
  }
  header nav.topbar span {
    font-size: 20px;
  }
  header nav.topbar ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  header nav.topbar ul li:not(:last-of-type) {
    padding-right: 8px
  }
  header nav.topbar ul li:last-of-type {
    font-size: 21px;
  }
  header .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  header .top .text {
    font-size: 21px;
  }
  header .top ul.icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  header .top ul.icon li:not(:last-of-type) {
    padding-right: 20px;
  }
  header .top ul.icon li a {
    width: 15px;
    height: 15px;
  }
  main {}
  main .ad {
    background-color: rgb(243, 243, 243);
    border-radius: 6px;
    height: 78px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  main .ad .textbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 15px;
  }
  main .ad .textbox .title {
    margin-bottom: 6px;
    color: #222
  }
  main .ad .textbox .subtitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  main .ad .textbox .subtitle > div {
    background-color: rgb(251, 230, 76);
    border-radius: 15px;
    display: flex;
    text-align: center;
    padding: 3px 6px;
  }
  main .ad .textbox .subtitle > div i {
    font-size: 11px;
  }
  main .ad .textbox .subtitle > div > .text {
    font-size: 11px;
    letter-spacing: -0.5px;
  }
  main .ad .textbox .subtitle > span {
    font-size: 13px;
    padding-left: 3px;
    color: #707070
  }
  main .ad img {
    width: 63px;
    height: 60px;
    margin: 12px 24px 0 0;
  }
  main > .profile {
    height: 75px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #f2f2f2;
  }
  main .profile .left {
    display: flex;
    align-items: center;
  }
  main .profile .profile_img {

  }
  main .profile .profile_img img {
    margin-right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 40%;
  }
  main .profile .user {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
  }
  main .profile .user .user_name {
    padding-bottom: 10px;
    font-size: 15px;
  }
  main .profile .user .message {
    font-size: 12px;
  }
  main .profile .music span {
    font-size:  11px;
    border: 1px solid rgb(92, 202, 82);
    border-radius: 15px;
    height: 21px;
    padding: 4px 12px;
    color:#707070
  }
  main .multiprofile {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #f2f2f2;
  }
  main .multiprofile .title {
    color:#a8a8a8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  main .multiprofile .title span {
    font-size: 12px;
  }
  main .multiprofile .title a {
    color:#a8a8a8;
    font-size: 12px;
  }
  main .multiprofile > .profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
  }
  main .multiprofile .profile .profile1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 18px;
  }
  main .multiprofile .profile .profile1 i {
    background-color: rgb(156, 201, 219);
    color: rgb(199, 225, 235);
    border: 1px solid rgb(147, 190, 207);
    border-radius: 40%;
    font-size: 20px;
    padding: 12px 15px;
    margin-bottom: 7.5px;
  }
  main .multiprofile .profile .profile1 span {
    font-size: 11px;
  }
  main .multiprofile .profile .profile2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  main .multiprofile .profile .profile2 i {
    background-color: rgb(245, 245, 245);
    color: rgb(106, 106, 106);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 40%;
    font-size: 20px;
    padding: 12px 15px;
    margin-bottom: 7.5px;
  }
  main .multiprofile .profile .profile2 span {
    font-size: 11px;
  }
  main .blank {
    height: 339px;
    background-color: #fff;
    border-bottom: rgb(240, 240, 240);
  }
  footer {
    width: 100%;
    height: 60px;
    padding-top: 18px;
    background-color: rgb(249, 249, 249);
    border-top: 1px solid rgb(240, 240, 240);
    position: fixed;
    left: 0;
    bottom: 0;
  }
  footer .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  footer .menu li a img {
    width: 27px;
  }
  footer .menu li:nth-of-type(2){
    position: relative;
  }
  footer .chat {
    width: 18px;
    height: 18px;
    background-color: rgb(237, 108, 60);
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 0.93;
    position: absolute;
    top: -3px;
    left: 18px;
  }
  footer .chat span {
    font-size: 11px;
  }
}